---
layout: default
title: About Me
description: Little information about the human behind this site.
keywords: about page, about me
---

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

I am a second year PhD student in the <a href="http://www.cs.vt.edu/">Department of Computer Science</a> at <a href="http://www.vt.edu/">Virginia Tech</a>. My current research aims to harness the power of crowdsourcing to create simplified, biologically meaningful, mechanistic visualizations of signaling networks perturbed by environmental chemicals. I am currently advised by Professor <a href="http://bioinformatics.cs.vt.edu/~murali/">T.M. Murali</a>.

<br><br>

Prior to joining Virginia Tech, I worked as a Software Engineer at <a href="https://www.paypal.com/home">PayPal</a> from 2013 to 2015. I received my Bachelor of Engineering degree in Computer Science from <a href="http://www.bits-pilani.ac.in/">Birla Institute of Technology and Sciences, Pilani</a> in 2013. My research interests involve Graph Algorithms, Computational Biology, Data Mining, Human Computer Interaction and Machine Learning. I like participating in hackathons and playing basketball.

<hr/>

{% if tags %}
<div class="tag-cloud" id="Tags">
    {% for tag in tags %}
    <a id="{{ tag | slugify }}" class="tag-anchor" href="{{ site.url }}{{ site.baseurl }}/tagged#{{ tag | slugify }}"><i class="fa fa-hashtag"></i> {{ tag }}</a>
    {% endfor %}
</div>
{% endif %}