---
layout: default
title: About Me
description: Little information about the human behind this site.
keywords: about page, about me
---

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

I am a fourth year PhD student in the <a href="http://www.cs.vt.edu/">Department of Computer Science</a> at <a href="http://www.vt.edu/">Virginia Tech</a>. 
My research explores mixed-initiative collaboration in creative domains like data visualization, and web design. My latest research project aims to build hybrid crowd-AI collaboration for generating simplified, biologically meaningful, mechanistic visualizations of biological networks. I am interested in  AI/ML/algorithms that can help humans without removing their ability to make novel contributions. Overall, my research interests involve Human Computer Interaction, UX Research, Graph Algorithms, Machine Learning, and Computational Biology.  I am currently advised by Dr <a href="http://bioinformatics.cs.vt.edu/~murali/">T.M. Murali</a> and Dr. <a href="http://kurtluther.com/">Kurt Luther</a>.

<br><br>

I received my Bachelor of Engineering degree in Computer Science from <a href="http://www.bits-pilani.ac.in/">Birla Institute of Technology and Sciences, Pilani</a> in 2013. After my undergraduate, I worked as a Software Engineer at PayPal for two years. Due to my initial training as a Software Engineer, I am quick to learn and use cutting edge technologies as part of my research projects. 

<br><br>

I have worked on various technologies like Python, Java, SQL,  MongoDB, ElasticSearch, Kibana, Android and iOS. I love contributing to open source and have been a mentoring in Google Summer of Code program for the last two years.

<br><br>

I am planning to graduate in Spring 2020 and looking for future opportunities where I can do UX research and apply my experience in building human-AI collaborative systems.



<hr/>

{% if tags %}
<div class="tag-cloud" id="Tags">
    {% for tag in tags %}
    <a id="{{ tag | slugify }}" class="tag-anchor" href="{{ site.url }}{{ site.baseurl }}/tagged#{{ tag | slugify }}"><i class="fa fa-hashtag"></i> {{ tag }}</a>
    {% endfor %}
</div>
{% endif %}
