@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .container, .footer, .nav {
    max-width: 95%;
  }
}

@media only screen and (min-width: 1200px) {
  .container, .footer, .nav {
    max-width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-pic {
    width: 0;  
  }
  
  .masthead {
    text-align: center;
  }
  
  .top-menu {
    font-size: 1.2rem;
  }
  
  .top-menu li {
    float: none;
    display: inline-block;
  }

  pre {
    max-height: 500px;
  }
  
  h2 {
    font-size: 2.1rem;
  }
  
  .post-list-date {
    float: none;
    margin-left: 0;
  }
  .post-list-desc {
    padding-right: 0;
  }
}
